{% extends "layout.html" %}

{% block breadcrumb %}
<li><a href="#">CMDB</a><span class="divider"></span></li>
<li class="active">基础信息</li>
{% endblock %}

{% block body %}
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#idc" data-toggle="tab">IDC</a>
	</li>
	<li>
		<a href="#cabinet" data-toggle="tab">机柜</a>
	</li>
    <li>
		<a href="#product" data-toggle="tab">业务</a>
	</li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="idc">
		<button style="float:right;" class="btn btn-primary btn-sm" id="addidcBtn">添加IDC</button>
		<div class="widget-box">
			<div class="widget-content">
			<!--IDC列表-->
				<table id ="idc_datatable"  class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>IDC</th>
						<th>名称</th>
						<th>接口人</th>
						<th>电话</th>
						<th>操作</th>
					</tr>
				</thead> 
				<tbody id="idc_tbody">
				</tbody>
			   </table>
					<!--添加IDC信息模态窗-->
				<div id="addidcModal" class="modal fade">
				 <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <h4 class="modal-title">添加IDC</h4>
					  </div><!--modal-header end-->

					<div class="modal-body">
					<form class="form-horizontal" id="addidcForm" accept-charset="UTF-8">
					<div class="control-group"> 
						<label class="control-label col-sm-3">IDC简称：</label>
						<div class="col-sm-9">
						 <input type="text" name="name" class="form-control"  datatype="s1-16" errormsg="必须是1-16个字符" />
						</div>
					</div> <!--简称添加-->
					<div class="control-group">
						<label class="control-label col-sm-3">中文名：</label>
						<div class="col-sm-9">
						<input  type="text" name="name_cn" class="form-control" datatype="*" errormsg="不能为空" />
						</div> 
					</div><!--中文名添加-->
					<div class="control-group">
						<label class ="control-label col-sm-3">地址: </label>
						<div class="col-sm-9">
						 <input type="text" name="address" class="form-control"  datatype="*" errormsg="不能为空" />
						</div>    
					</div> <!--地址-->
					<div class="control-group">
						<label class ="control-label col-sm-3">联系人: </label>
						<div class="col-sm-9">
						 <input type="text" name="user_interface" class="form-control"  datatype="*" errormsg="不能为空" />
						</div>    
					</div> <!--联系人-->
					<div class="control-group">
						<label class ="control-label col-sm-3">电话: </label>
						<div class="col-sm-9">
						 <input type="text" name="phone" class="form-control"  datatype="*" errormsg="不能为空" />
						</div>    
					</div> <!--电话-->
					<div class="control-group">
						<label class="control-label col-sm-3">邮箱：</label>
						<div class="col-sm-9">
						 <input type="text" name="email" class="form-control"  datatype="*" errormsg="不能为空" />
						</div>   
					</div>  <!--邮箱-->
					<div class="form-group">
						 <div class="modal-footer">
								<button class="btn btn-primary" id="submitbtn" >确认添加</button>
								<button class="btn btn-warning" data-dismiss="modal">退出</button>
						</div> 
					</div>
					</form> 

					  </div><!-- /.modal-body-->
				   </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="cabinet">
		<button style="float:right;" class="btn btn-primary btn-sm" id="addBtn">添加机柜</button>
		<div class="widget-box">
			<div class="widget-content">
			<!--权限列表-->
				<table id ="datatable"  class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>IDC</th>
						<th>名称</th>
						<th>接口人</th>
						<th>电话</th>
						<th>操作</th>
					</tr>
				</thead> 
				<tbody>
				</tbody>
			   </table>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="product">
		<button style="float:right;" class="btn btn-primary btn-sm" id="addBtn">添加业务</button>
		<div class="widget-box">
			<div class="widget-content">
			<!--权限列表-->
				<table id ="datatable"  class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>IDC</th>
						<th>名称</th>
						<th>接口人</th>
						<th>电话</th>
						<th>操作</th>
					</tr>
				</thead> 
				<tbody>
				</tbody>
			   </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
name='cmdb'
function datatable(){
    $('#idc_datatable').DataTable({
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
            }
        }
    });
};


function list(){                                                                                                                 
    var url="/listapi?method="+name+"&table=cmdb_idc"
    console.log(url)
    $.getJSON(url,function(data){
       data=JSON.parse(data['result']); //object 
       console.log(data)   
       if (data['code']== 0){       
           var str = ''
           $.each(data.result,function(k,v){   
               str +='<tr class="odd gradeX">'+  
               '<td>'+v['name']+'</td>'+  
               '<td>'+v['name_cn']+'</td>'+
               '<td>'+v['user_interface']+'</td>'+ 			   
               '<td>'+v['phone']+'</td>'+  
               '<td>'+
               '<button class="btn btn-primary btn-sm update-btn" data-id="'+v['id']+'">更新</button>'+
               '<button class="btn btn-danger btn-sm delete-btn" data-id="'+v['id']+'">删除</button>'+
               '</td>'+ '</tr>'          
           })       
                $("#idc_tbody").html(str)
                datatable()
            }else{
                swal("error", data['errmsg'],"error")
            }
         })
}

list()

/*点击按钮，显示添加用户模态窗*/
$("#addidcBtn").on('click',function(){
    $('#addidcModal').modal('show')
})


/*用户添加*/
$('#addidcForm').on('submit',function(){
        var str = $('#addidcForm').serialize()
        var data=str+"&method="+name+"&table=cmdb_idc"
        console.log(data)
        $.post('/addapi',data,function(data){ 
            data=JSON.parse(data);   //将json串转换为对象，然后取值
            data = JSON.parse(data['result']) //object
            console.log(data)
            if (data['code']==0){
                    swal({
                        title:"success", 
                        text:"添加成功",
                        type:"success",
                        confirmButtonText:'确定'
                        },function(){
                            $('#addModal').modal('hide')
                            window.location.reload();
                          })
            }else{
                swal("error","创建用户失败," + data['errmsg'],"error")
             }   /*if end*/
         })  /*post end*/
         return false;
})  /*submit end*/
{% endblock %}
